.image-header.bg-img-cc.no-rollover style="background:url('{{::neighborhood.big_cover_image_url}}')"
  .image-header-wrapper.text-center
    .image-caption
      h1.h2.alt-font.text-bold.color-white.title ng-bind="::neighborhood.name"
      a.btn-md.btn-iota-white.cp.m-top-lg.color-white[
            href="/trips/new?neighborhood_id={{::neighborhood.id}}"
            analytics-on="click"
            analytics-event="Show spots in neighborhood on map"

          ] View spots around {{::neighborhood.name}} on map
      div ng-if="neighborhood.neighborhoods.length > 0" style="display:inline-block"
        span.p-left-sm.p-right-sm.color-white or
        a.color-white i18n-text="neighborhoods.list.explore_more" href="#explore-more" du-smooth-scroll=true

  div.credit.pos-a.bottomright.hidden-xs
    span.text-tag.text-medium
      | Photo credit: {{ neighborhood.image_credit }}

.container.p-top-sm
  ul.breadcrumb ng-show="parentNeighborhood"
    li
      a ng-bind="::parentNeighborhood.name" ui-sref="neighborhoods.show({id: parentNeighborhood.id})"
    li.current ng-bind="::neighborhood.name"

  .p-all-lg.grey-epsilon.text-center.text-intro ng-bind="::neighborhood.desc | stripTags"`

  div.headline-btn.text-center.p-bottom-xlg
    a.btn-md.btn-eta-rev.m-top-lg[
      ng-repeat="custom_link in neighborhood.custom_links"
      href="{{ custom_link.url }}"
      style="margin-left: 5px; margin-right: 5px"
    ] {{ custom_link.name }}

.photos-container ng-if="photos.length > 4"
  .photo-gallery
    ul.photo-gallery__list.clearfix
      li.photo-gallery__photo ng-repeat="photo in photos" photo-gallery=""
        a data-lightbox="photos" data-title="{{photo.author}}" ng-href="{{photo.big_src}}"
          div style="background-image:url('{{photo.small_src}}')"
        // a.more href="#" ng-if="$last && custompage.photos.length > 14" See all xxx photos

  a.gallery__btn.gallery__btn--prev href="#"
    svg height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg"
      g fill="none" fill-rule="evenodd"
        path d="M1 11.5C1 5.15 6.15 0 12.5 0S24 5.15 24 11.5 18.85 23 12.5 23 1 17.85 1 11.5zm12.657-5.657l1.414 1.414L10.83 11.5l4.243 4.243-1.413 1.414L8 11.5l5.657-5.657z"
  a.gallery__btn.gallery__btn--next href="#"
    svg height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg"
      g fill="none" fill-rule="evenodd"
        path d="M24 11.5C24 5.15 18.85 0 12.5 0S1 5.15 1 11.5 6.15 23 12.5 23 24 17.85 24 11.5zM11.343 5.843L9.93 7.257 14.17 11.5 9.93 15.743l1.413 1.414L17 11.5l-5.657-5.657z"

.container.p-top-sm
  .headline-alpha#explore-more ng-if="spots.length > 0"
    h2.h4.m-reset.brand-color.text-center.m-bottom-xlg.m-top-md.text-bold Explore spots in {{::neighborhood.name}}

  /.row#explore-more
    /.col-sm-4.m-bottom-md ng-repeat="spot in ::spots | limitTo:6"
      /a.panel-delta.p-reset.b-all.b-alpha[
        /ui-sref="spots.show({id: spot.id})"
        /analytics-on="click"
        /analytics-event="Click one featured spot"
        /analytics-category="sub-neighborhood"
      /]
        /figure.panel-heading
          /.ratio-16-9
            /img.img-responsive alt="photo of {{spot.name}}" ng-src="{{spot.middle_cover_image_url}}"
          /figcaption.caption
            /h1.text-bold.h5.alt-font.color-white ng-bind="spot.name"
          /div.spot-tags
            /span.text-tag-xs ng-repeat="tag in spot.tags" ng-bind="tag|localize"
      /.panel-body.p-all-md.bg-grey-alpha
        /p ng-bind-html="spot.desc_html | htmlSafe"
        /span.m-right-xs.m-left-xlg.p-left-xlg.hidden-xs ng-if="spot.creator_name" Discovered by
        /a.hidden-xs href="javascript:;" ng-if="spot.creator_name"
          /img.img-circle.m-right-xs alt="{{$parent.spot.creator_name}}" ng-src="{{$parent.spot.creator_avatar}}"
          /| {{$parent.spot.creator_name}}
    / Below is the button to trigger the spot.index list for each area
    /div.headline-btn.text-center.p-bottom-xlg ng-if="spots.length > 0"
    /  a.btn-md.btn-eta.m-top-lg[
    /    ui-sref="spots.index"
    /  ] View all spots in {{::neighborhood.name}}

  .row ng-repeat="threeSpots in spots" id="spots"
    .col-sm-4.m-bottom-sm ng-repeat="spot in threeSpots"
      spot-card[
        spot="spot"
        neighborhood="neighborhood"
        analytics-label-on-trip-create-form="Add Spot From Neighborhood Show Page"
        analytics-settings-on-spot-show="{on: 'click', event: 'Click one featured spot', category: 'sub-neighborhood'}"
        creater-and-must-see-flag="false"
        spot-popup-flag="false"
        toggle-spot-in-current-day-flag="false"
      ]
.container.m-bottom-xlg.p-bottom-lg.m-botton-md
  div.headline-btn.text-center.p-top-reset ng-if="spots.length > 0"
    h4.h7.color-black-brand.d-block.text-bold View all spots around {{::neighborhood.name}}
    a.btn-sm.btn-kappa.m-top-sm.m-right-lg[
      href="/trips/new?neighborhood_id={{::neighborhood.id}}"
      analytics-on="click"
      analytics-event="Show spots in neighborhood on map"
    ]
      i.icon-spot.text-tag.m-right-xs
      | Map Mode
    a.btn-sm.btn-kappa.m-top-sm[ui-sref="neighborhoods.spots_index({id: neighborhood.id})"]
      i.icon-plan.text-tag.m-right-xs
      | List Mode

.container
  .headline-alpha ng-if="neighborhood.neighborhoods.length > 0" id="sub-neighborhoods"
    h2.h4.m-reset.brand-color.text-center.m-bottom-xlg.m-top-md.text-bold Neighbourhoods

  .row
    .col-sm-4.m-bottom-lg ng-repeat="subNeighborhood in neighborhood.neighborhoods | orderBy:'name'"
      a.panel-delta.p-reset.b-all.b-alpha[
        ui-sref="neighborhoods.show({id: subNeighborhood.id})"
        analytics-on="click"
        analytics-event="Click one featured neighborhood"
        analytics-category="sub-neighborhood"
      ]
        figure.panel-heading
          .ratio-16-9
            img.img-responsive alt="view of {{subNeighborhood.name}}" ng-src="{{subNeighborhood.cover_image_url}}"
          figcaption.caption
            h1.text-bold.h5.alt-font.color-white.text-outline2 ng-bind="subNeighborhood.name"
            h2.text-light.h7.alt-font.color-white.text-outline Neighbourhood in {{::neighborhood.name}}
      /.panel-body.p-all-md
        /p ng-bind="subNeighborhood.desc | autoEllipsis:30 | stripTags"

  .headline-alpha.m-top-xlg ng-if="trips.length > 0" id="trips"
    h2.h4.m-reset.brand-color.text-center.m-bottom-xlg.m-top-md.text-bold Featured {{::neighborhood.name}} trips
  .row ng-repeat="tripRow in tripRows"
    .col-sm-6.m-bottom-md ng-repeat="trip in tripRow"
      .panel-delta.p-reset.b-all.b-alpha
        a.panel-heading[
          ui-sref="trips.show({id: trip.id})"
          analytics-on="click"
          analytics-event="Click one featured trip"
          analytics-category="sub-neighborhood"
        ]
          .ratio-16-9
            img.img-responsive ng-src="{{trip.cover_image_src}}"
          figcaption.caption
            h1.m-reset.text-extrabold.h4.text-outline2.alt-font.color-white.m-bottom-md ng-bind="trip.title"
            .row.m-top-md
              .col-md-8.col-md-offset-2
                .row.color-white.text-center
                  .col-xs-4.p-reset
                    i.icon-clock.h4
                    .h7.p-bottom-xs.p-top-xs.text-normal.m-top-sm ng-bind="trip.days.length + ' days'"
                  .col-xs-4.p-reset
                    i.icon-calendar.h4
                    .h7.p-bottom-xs.p-top-xs.text-normal.m-top-sm ng-bind="trip.start_day"
                  .col-xs-4.p-reset
                    i.icon-local-outline.h4
                    .h7.p-bottom-xs.p-top-xs.text-normal.m-top-sm ng-bind="trip.cities[0].en"

        .panel-body.p-all-md
          .row.p-left-md.m-bottom-md
            img.v-middle.img-circle ng-src="{{trip.user_icon}}"
            .d-ib.v-middle.m-left-sm
              h1.text.m-reset ng-bind="trip.author"
              h2.m-reset.text.grey-delta.m-top-xs.text-light ng-bind="trip.author_expert_in"

          a.btn-gamma.btn-xs.btn-xs.m-bottom-xs ng-repeat="interest in trip.trip_interests" ng-bind="interest"
  div.headline-btn.text-center.p-bottom-xlg ng-if="trips.length > 0"
    a.btn-md.btn-eta-rev.m-top-lg[
      ui-sref="trips.index"
    ] View All Trips

///// BLOG FEATURED //////////
.container.p-bottom-lg.m-top-lg.p-top-lg.m-bottom-lg ng-if="blogLinks.length > 0" id="blogs"
  h2.h4.m-reset.brand-color.text-center.m-bottom-xlg.text-bold From the blog
  .row.p-top-lg
    div ng-repeat="bl in blogLinks"
      div.clearfix ng-if="$index % 3 == 0"
      .col-sm-4.p-bottom-lg.blog-block
        a (ng-href="{{bl.blog_url}}" target="_blank")
          div.panel-delta.b-alpha
            figure.panel-heading
              .ratio-4-3
                img ng-src="{{bl.cover_small_url}}"
            div.panel-body.p-all-md
              h4.h5.text-bold.m-reset
                | {{bl.title}}
              span.text-tag.m-top-sm.grey-epsilon
                | by {{bl.author_name}}
              p.w-100.m-top-md.font-georgia.grey-epsilon.text-italic
                | {{bl.description}}

  .headline-btn.text-center.p-bottom-xlg
    a.btn-md.btn-eta-rev[
      href="http://blog.odigo.travel"
      analytics-on="click"
      analytics-event="Click all blog pots"
      analytics-category="neighborhood"
    ] See more blog posts

///// videos featured /////
.container.p-bottom-lg.m-top-lg.p-top-lg.m-bottom-lg ng-if="videos.length > 0" id="videos"
  h2.h4.m-reset.brand-color.text-center.m-bottom-xs.text-bold Odigo 47 Project on YouTube
  .row.p-top-lg ng-repeat="videoRow in videoRows|limitTo:(showMoreVideos ? 100 : 2)"
    .col-sm-6.p-bottom-lg ng-repeat="video in videoRow"
      video-card.video-card video="video"
  .headline-btn.text-center.p-bottom-xlg
    a.btn-md.btn-eta-rev[
      ng-show="!showMoreVideos"
      ng-click="showMoreVideos = true"
    ] Show More Videos

///// COMMUNITY FEATURED //////////
.container
  .headline-alpha.m-top-xlg.m-bottom-md ng-if="users.length > 0" id="people"
    h2.h4.m-reset.brand-color.text-center.m-bottom-xlg.m-top-md.text-bold  The {{::neighborhood.name}} Odigo community

  .row.pos-r.p-bottom-xlg.m-bottom-xlg
    .col-sm-2.col-xs-3.text-center.m-bottom-md ng-repeat="user in ::users | limitTo:6"
      a[
        ui-sref="profile.home({username:user.nickname})"
        analytics-on="click"
        analytics-event="Click one featured user"
        analytics-category="sub-neighborhood"
      ]
        .ratio-1-1.no-gradient.text-center.bg-img-cc.img-circle style="background:url('{{user.large_icon_url}}') no-repeat center center;"
      a.h7.text-medium.m-reset.brand-color.p-top-md.d-ib.font-georgia.text-italic.conrtib-name[
        ng-bind="user.display_name"
        ui-sref="profile.home({username:user.nickname})"
        analytics-on="click"
        analytics-event="Click one featured user"
        analytics-category="home"
      ]
      / h2.text.m-reset.grey-delta.m-top-sm ng-show="!user.profile.expert_in.length" unknown
      / h2.text.m-reset.grey-delta.m-top-sm ng-bind="user.profile.expert_in" ng-show="user.profile.expert_in.length"

///// CTA DESTINATION & TRIPS / Bottom fixed
div zum-waypoint="waypointsUp" up="scrollUp" offset="60%"
.cta-bottom.bg-green-infinite[
  ng-show="!TripManager.currentTrip()"
  zum-waypoint="waypointsDown" down="scrollDown"
  ng-class="{ show: waypointsUp.globals.scrollUp || waypointsDown.globals.scrollDown, hide: !showCTA  }"
]
  .container
    .row.color-white
      .col-sm-8
        h2.m-reset.m-bottom-xs.m-top-xs.text-bold Hey! Ready to plan a trip to {{ neighborhood.name }}?
        p.text-intro.m-reset.m-top-xs Odigo Travel helps you plan your own personal trip to Japan.
      .col-sm-4
        a.btn-mi.btn-md.m-bottom-xs.m-top-xs.text-uppercase.text-bold.p-bottom-sm.p-top-sm [
          ng-click="showCreateTripPopup('Neighborhood Show Page', null, neighborhood.name)"
        ] Let's get started

        p.m-reset
          i.icon-rightarrow.m-right-xs
          a.color-white.text-italic href="#" ng-click="showCTA = false"
            | No thanks, maybe later!
